/* You can add global styles to this file, and also import other style files */
.top-buffer {
  margin-top: 50px;
}

.cont-task {
  background-image: url(./assets/play.png);
  width: 30px;
  height: 30px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
}
